body {
  margin: 0; /* Ensure the body has no margin */
  padding: 0;
  
 
}
/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #D6D4D4; 
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #73A8d9; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #73A8d9; 
}
/*hero banenr area*/

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 350px 150px 100px; /* Original padding */
    overflow: hidden; /* Prevent overflow */
  }

  @media (min-width>= 1900px) {
      .hero-section {
      padding: 700px 250px 200px /* Adjust padding for medium screens */
    }
  }

  @media (min-width: 1350px) and (max-width: 1550px) {
    .hero-section {
        padding: 300px 100px 60px; /* Adjust padding for medium screens */
    }
    }
  @media (min-width: 1200px) and (max-width: 1350px) {
    .hero-section {
        padding: 250px 100px 60px; /* Adjust padding for medium screens */
    }
    }
  

  @media (min-width: 991px) and (max-width: 1200px) {
  .hero-section {
      padding: 200px 70px 60px; /* Adjust padding for medium screens */
  }
  }

  @media (min-width: 800px) and (max-width: 990px) {
    .hero-section {
      padding: 150px 50px 50px; /* Adjust padding for small screens */
      width: 100%; /* Ensure full width */
      box-sizing: border-box; /* Include padding in total width */
    }
  }

  @media (min-width: 550px) and (max-width: 800px) {
    .hero-section {
      padding: 100px 30px 30px; /* Adjust padding for small screens */
      width: 100%; /* Ensure full width */
      box-sizing: border-box; /* Include padding in total width */
    }
  }
  @media (max-width: 550px) {
    .hero-section {
      padding: 50px 20px 20px; /* Adjust padding for small screens */
      width: 100%; /* Ensure full width */
      box-sizing: border-box; /* Include padding in total width */
    }
  }
  
  @media (max-width: 400px) {
    .hero-section {
      padding: 30px 10px 10px; /* Adjust padding for small screens */
      width: 100%; /* Ensure full width */
      box-sizing: border-box; /* Include padding in total width */
    }
  }
  
  .hero-image-wrapper {
    position: absolute;
    z-index: 0;
    width: 100vw; /* Full viewport width */
    height: 42vw; /* Height as a function of width */
    overflow: hidden;
    right: 0;
    bottom: 0;
  }
  
  .hero-image {
    aspect-ratio: 2.39; /* Maintain aspect ratio */
    object-fit: cover; /* Fill the area while maintaining aspect ratio */
    object-position: center; /* Center the image */
    width: 100%; /* Full width */
  }
  
  .hero-content {
    z-index: 1;
    display: flex;
    width: 856px; /* Fixed width for larger screens */
    max-width: 100%; /* Allow maximum responsiveness */
    flex-direction: column;
    font-family: Outfit, sans-serif;
    color: #fff;
    justify-content: center;
  }
  
  .hero-title {
    font-size: 50px; /* Title font size */
    font-weight: 600;
  
  }

  @media (width >= 2000px) {
    .hero-title {
      max-width: 100%; /* Full width */
      white-space: nowrap; /* Prevent word wrapping */
      font-size: 70px; /* Adjust font size */
      font-weight: 700;
    }
  }

  @media (min-width: 991px) and (max-width: 1200px) {
  .hero-title {
      max-width: 100%; /* Full width */
      font-size: 40px; /* Adjust font size */
      
    }
  }

  @media (min-width: 720px) and (max-width: 990px) {
      .hero-title {
      max-width: 100%; /* Full width */
      font-size: 35px; /* Adjust font size */
      
    }
  }

  @media (max-width: 719px) {
      .hero-title {
      max-width: 100%; /* Full width */
      font-size: 30px; /* Adjust font size */
      
    }
  }
  @media (max-width: 400px) {
      .hero-title {
      max-width: 100%; /* Full width */
      font-size: 25px; /* Adjust font size */
      
    }
  }

  .hero-description {
    font-size: 25px; /* Description font size */
    font-weight: 350;
    max-width: 100%; /* Full width */

  }

  @media (width >= 2000px) {
    .hero-description {
      max-width: 100%; /* Full width */
      white-space: nowrap; /* Prevent word wrapping */
 
      font-size: 30px; /* Adjust font size */
      font-weight: 600;
    }
  }
  
  @media (min-width: 700px) and (max-width: 1200px) {
    .hero-description {
      font-size: 20px; /* Adjust font size */
     
    }
  }

  @media (max-width: 700px) {
    .hero-description {
      display: none; /* Hide description on screens <= 680px */
    }
  }



  /*navigation area*/
  .nav-bar {
    display: flex;
    overflow: hidden;
    color: #000;
    justify-content: space-between;
    align-items: center;
    padding: 10px 157px;
    font: 400 77px Outfit; /* Navbar font size */
  }

  @media (min-width: 2400px) {
    .nav-bar {
      padding: 10px 350px;
      font: 550 77px Outfit; /* Adjust navbar font size for larger screens */
    }
  }

  @media (min-width: 1900px) and (max-width: 2400px) {
    .nav-bar {
      padding: 10px 250px;
      font: 500 77px Outfit; /* Adjust navbar font size for medium screens */
    }
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .nav-bar {
      padding: 10px 120px;
    }
  }

  @media (min-width: 950px) and (max-width: 1200px) {
    .nav-bar {
      padding: 10px 120px;
    }
  }


  @media (max-width: 950px) {
    .nav-bar {
      padding: 10px 70px;
    }
  }

  .drawer {
    width: 50px;
    display: none; /* Initially hidden */
    cursor: pointer; 
  }

  .nav-content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .logo {

    object-fit: contain;
    object-position: center;
    width: 150px;
  }

  @media (min-width: 750px) and (max-width: 1024px) {
    .logo {
      object-fit: contain;
      object-position: center;
      width: 120px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .nav-item {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 30px; /* Set font size for nav items */
  }

  @media (min-width: 2200px) {
    .nav-item {
      font-size: 38px; /* Adjust navbar font size for larger screens */
    }
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .nav-item {
      font-size: 22px; /* Adjust navbar font size for medium screens */
    }
  }

  @media (min-width: 900px) and (max-width: 1200px) {
    .nav-item {
      font-size: 20px; /* Adjust navbar font size for smaller screens */
    }
  }

  @media (max-width:900px) {
    .nav-links {
      display: none; /* Hide all nav items */
    }
    .nav-content{
      gap: 70px;
    }
    
    .nav-item {
      font-size: 30px; /* Adjust navbar font size for smaller screens */
    }
    .drawer-item{
      text-align: center;
    text-decoration: none;
    color: inherit;
      font-size: 50px;
    }
    .drawer {
      display: block; /* Show the drawer icon */
      width:200px;
      cursor: pointer; 
    }
    .nav-bar{
      justify-content: flex-start;
    }
    .logo {
      object-fit: contain;
      object-position: center;
      width: 120px;
    }
  }

  @media (max-width:550px) {
   
    .nav-content{
      gap: 30px;
    }
    .drawer-item{
      text-align: center;
    text-decoration: none;
    color: inherit;
      font-size: 50px;
    }
    .menutext{
      display:none;
    }
   
    .nav-item {
      font-size: 30px; /* Adjust navbar font size for smaller screens */
    }
    .nav-bar{
      justify-content: center;
      padding: 10px 20px;
    }
    .drawer {

      width:100px;
    }
  }

     /* Modal Styles */
     .modal-overlay {
            display: none; /* Hidden by default */
            position: fixed; /* Cover the entire screen */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
            z-index: 10; /* Overlay above other elements */
        }

        .dropdown-menu {
          font: 200 20px Outfit; 
            display: none; /* Hidden by default */
            position: fixed; /* Position relative to the viewport */
            top: 250px; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Offset to center */
            background-color: white; /* Background color */
            border: 1px solid #ccc; /* Optional border */
            z-index: 11; /* Above the overlay */
            padding: 20px; /* Padding for content */
        
            border-radius: 8px; /* Optional rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
        }

        .dropdown-menu a:hover {
          background-color: #007BFF; /* Change color on hover */
      }

        .close-menu-button {
          background-color: #ff4d4d; /* Red background */
          color: white;
          border: none;
          padding: 8px 12px;
          cursor: pointer;
          border-radius: 4px; /* Rounded corners */
          margin-bottom: 10px; /* Space below the button */
          float:right;
        }
      

  .nav-item-home {
    width: 6vw;
  }

  

  .nav-item-about {
    width: 7vw;
  }

  .nav-item-products {
    width: 15.625vw;
  }

  .nav-item-news {
    width: 10.547vw;
  }

  .nav-item-contact {
    width: 10.547vw;
  }

  .nav-item-idl {
    width: 3.5vw;
  }

  .user-icon {
    object-fit: contain;
    object-position: center;
    width: 2.5vw;
  }


  /* about us home */

  .about-us-section {
    display: block;
  
  }
  
  .about-us-container {
    background-color: #d9d9d9;
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 900px;
    
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  @media (max-width: 991px) {
    .about-us-container {
      max-width: 100%;
   
    }
  }
  
  .content-wrapper {
    display: flex;
    width: 1000px;
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 2vw;
  }
  
  .hlcolor{
  background: -webkit-linear-gradient(top left,#3E8CD6,#aac0d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    font-family: Outfit, sans-serif;
    color: #000;
    font-weight: 400;
    text-align: center;
    justify-content: center;
  }
  
  @media (max-width: 991px) {
    .text-content {
      max-width: 100%;
    }
  }
  
  .main-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
  }
  
  .main-title h2{
    margin-block-start: 5px;
    margin-block-end: 5px;
  }
  
  @media (max-width: 991px) {
    .main-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 49px;
    }
  }
  
  .description {
    font-size: 22px;
    line-height: 30px;
  }
  .description p{
    margin-block-end: 10px;
  }
  
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
    }
  }
  
  .cta-wrapper {
    align-self: center;
    display: flex;
    margin-top: 10px;
    max-width: 100%;
    flex-direction: column;
    font-size: 20px;
    color: inherit;
    
  }
  
  .cta-button {
    text-decoration: none;
    color: inherit;
    border-radius: 40px;
    padding: 11px 16px;
    border: 2px solid #81b3e2;
    transition: background-color 0.6s ease;
  }
  
  .cta-button:hover {
    background-color: #81b3e2; /* Change background color on hover */
   
}

  .services-container {
    margin-top: 31px;
  }
  
  @media (max-width: 991px) {
    .services-container {
      max-width: 100%;
    }
  }
  
  .services-grid {
    gap: 20px;
    display: flex;
    justify-content: space-between;
  }
  

  
  .service-column {

    flex-direction: column;
    line-height: normal;
    width: 100%;
    margin-left: 0px;
  }

  @media (max-width: 1024px) {
    .services-grid {
      flex-direction: column;
  
      gap: 15px;


    }


    .service-column {
      align-self: center; 
      display: flex;
    }

    .about-us-container{
      height: max-content;
    }

  }
  
  .service-item {
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-shadow: -3px 3px 7px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 20px;
    background-color: #000;
    height: 100%;
    align-self: stretch;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    margin: auto 0;
    padding: 90px 20px 90px;
    font: 600 25px/25px Outfit, sans-serif;
    transition: transform 0.5s ease;
  }

  .service-item:hover{
    transform: scale(1.1);
  }

  @media (max-width: 1500px){
    .service-item{
    padding: 80px 15px 80px;
    }
  }
 
  .service-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

  }
 
  .overlay {
 /* Center the text vertically */
    opacity: 0.8; /* Start hidden */
    /* Smooth fade transition */
  }

  .service-title {
    position: relative;
    font-size:  35px;
    line-height: 40px;    
    
  }

  @media (max-width: 1024px){
    
    .service-item {
      width: 90%; /* Set a width for service items */
      max-width: 400px; /* Optional: Set a max width */
     
      align-self: center; /* Center item in the flex container */
  }

  .service-image {
      object-fit: cover; /* Ensure the image fits the item */
  }

  .service-title{
    font-size:  18px;
    line-height: 20px;    
  }
  
  }
 
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }




/* discover products home */
   
.products-section {
  padding: 50px 5px 30px 250px ;
  font-family: Outfit, sans-serif;
  color: #000;
}

@media (min-width: 1800px) {
  .products-section {
  padding: 50px 5px 30px 350px ;
  }
}

@media (max-width: 1800px)and (min-width: 1600px) {
  .products-section {
  padding: 50px 5px 30px 300px ;
  }
}
@media (max-width: 1400px)and (min-width: 1000px) {
  .products-section {
  padding: 50px 5px 30px 150px ;
  }
}

@media (max-width: 1000px){
  .products-section {
  padding: 50px 5px 30px 50px ;
  }
}


.products-container {
  display: flex;
  gap: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 43%;
}

.product-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.product-title{
  margin-block-end: 5px;
  margin-block-start: 2px;
  margin-inline-start: 2px;
}

.product-description {
  font-size: 25px;
  line-height: 30px;
  margin: 26px 0;
}

@media (max-width: 650px){
  .product-description {
    font-size: 16px;
    line-height: 20px;
  }
}



.product-description{
  margin-block-end: 5px;
  margin-block-start: 2px;
  margin-inline-start: 2px;
}

.cta-prod-button {
  margin-block-start: 10px;
  margin-block-end: 30px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 164px;
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
  padding: 11px 16px;
  border: 2px solid #81B3E2;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.cta-prod-button:hover {
background-color: #81b3e2; /* Change background color on hover */

}

.carousel {
  width: 100%;

}
.product-image{
  width: 60%;
}

@media (max-width: 1000px) {
  .products-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .product-info,
  .product-image {
    width: 100%;
  }

  .product-info {
    margin-top: 40px;
  }

  .product-title {
    font-size: 40px;
    line-height: 49px;
  }

  .cta-prod-button{
    padding: 11px 20px;
  }

 
}

/* carousel */
.carousel-cell {
        width: 300px; /* Width for card */
        height: 450px; /* Height for card */
        display: flex;
       
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide overflow */
        transition: transform 0.3s ease; /* Smooth scaling */
        opacity: 0.7; /* Default opacity for inactive slides */
        border-radius: 10px; /* Rounded corners */
    }

    .carousel-cell img {
        display: flex;
        width: 90%;
        height: 90%;
        gap:5px;
        border-radius: 10px;
        object-fit: cover; /* Maintain aspect ratio */
    }

    @media (max-width:700px) {
      .carousel-cell {
        width: 200px; /* Width for card */
        height: 250px;
      }
    }

    .carousel-cell .text-overlay {
        position: absolute; /* Absolute positioning */
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust to center */
        color: white; /* Text color */
        font-size: 40px;
        font-weight: 700;
        padding: 10px; /* Padding around the text */
        border-radius: 5px; /* Rounded corners for text background */
        text-align: center; /* Center text */
      }

    /* Active slide style */
    .carousel-cell.is-selected {
    
        opacity: 1; /* Make active slide fully opaque */
    }

    .carousel-cell.is-selected img {
        transform: scale(1.1); /* Scale up the active slide */
      
    }

    .button-container {
        position: relative; /* Positioning for buttons */
        bottom: 10px; /* Distance from the bottom */
        top: 50px;
        left: 10px; /* Distance from the left */
        display: flex; /* Flexbox for alignment */
        gap: 50px !important; /* Space between buttons */
    }

    .flickity-prev-next-button {
        top: 30px !important;
        position: relative !important;
        width: 60px;
        height: 60px;
        background: transparent;
        opacity: 0.8;
        gap: 20px;
    }
    .flickity-prev-next-button:hover {
        opacity: 1;
    }
    .flickity-prev-next-button .arrow {
        fill: black;
    }
    .flickity-prev-next-button.no-svg {
        color: white;
    }



    /* news event home */

    .news-events-container {
      display: flex;
      flex-direction: column;
      font-family: Outfit, sans-serif;
    }
    
    .news-events-wrapper {
      background-color: #f0f0f0;
      display: flex;
      max-width: 100%;
      flex-direction: column;
      padding: 2.7vw 13vw 2.7vw;
    }

    /* @media (min-width:1440px)and (max-width:1650px) {    
      .news-events-wrapper {
        padding: 40px 250px 40px;
       }
      }
    @media (min-width:1040px)and (max-width:1440px) {    
      .news-events-wrapper {
        padding: 40px 150px 40px;
       }
      }*/
    @media (min-width:995px)and (max-width:1180px) {    
      .news-events-wrapper {
        padding: 40px 120px 40px;
       }
      }
    
    .news-events-content {
      align-self: flex-start;
      display: flex;

      max-width: 100%;
      flex-direction: column;
      color: #000;
      justify-content: flex-start;
    }
    
    .news-events-title {
      font-size: 45px;
      font-weight: 600;
      line-height: 1;
    }
    
    .all-events-button {
      align-self: center;
      display: flex;
      width: 150px;
      max-width: 100%;
      flex-direction: column;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      
    }
    
    .all-events-link {
      border-radius: 40px;
      padding: 11px 16px;
      border: 2px solid #81b3e2;
      text-decoration: none;
      color: inherit;
    }
    
    .event-card {
      border-radius: 30px;
      background-color: #fff;
      z-index: 10;
      display: flex;

      margin: 30px 10px;
      width: 22.5vw;
      height: 19.5vw;
      max-width: 100%;
      padding-bottom: 25px;
      flex-direction: column;
      font-weight: 500;
      transition: box-shadow 0.3s ease;
    }

    /* @media (min-width:2400px) {  
    .event-card {
      width: 550px;
      height: 500px;
    }
  }

  @media (min-width:2250px) and (max-width:2400px) {    
         .event-card {
           width: 500px;     
           height: 425px;
       }
      }

  @media (min-width:2000px)and (max-width:2250px) {    
         .event-card {
           width: 420px; 
           height: 355px;    
       }
      }

    @media (min-width:1650px)and (max-width:1800px) {    
         .event-card {
           width: 300px;  
           height: 255px;     
       }
      }

      @media (min-width:1300px)and (max-width:1650px) {    
         .event-card {
           width: 250px;  
           height: 215px;
           font-weight: 400;   
       }
      }
      @media (min-width:1000px)and (max-width:1300px) {    
         .event-card {
           width: 200px;  
           height: 170;
           font-weight: 400;   
       }
      } */

      .event-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Shadow effect on hover */
}

  
    .event-image {
      border-radius: 30px 30px 0px 0px;
      object-fit: contain;
      object-position: center;
      max-width: 100%;
    }
    
    .event-details {
      display: flex;
      width: 100%;
      max-width: 100%;
      flex-direction: column;
      margin: 40px 0 0 40px;
    }
    
    .event-name {
      color: #000;
      font-size: 35px;
      font-weight: 600;
      line-height: 1.2;
    }
    .event-name{
      margin-block-start: 5px;
      margin-block-end: 10px;
    }
    
    .event-date {
      color: #a7ada9;
      font-size: 25px;
      line-height: 1;
    }
    
    .event-location {
      width: 100px;
      border-radius: 30px;
      align-self: start;
      margin-top: 40px;
      font-size: 20px;
      color: #3e8cd6;
      white-space: nowrap;
      line-height: 1;
      padding: 1px 13px;
      border: 1px solid #3e8cd6;
    }

.news-events-grid {
    display: flex; /* Use flexbox to arrange cards in a row */
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row; /* Allow wrapping to the next line if necessary */
     /* Center the items horizontally */
  
}

    @media (min-width:1800px)and (max-width:2250px) {    
            .event-details {
              margin: 25px 0 0 25px;  
              }

          .event-name {
              color: #000;
              font-size: 25px;
              font-weight: 600;
              line-height: 1.2;
            }

            .event-location{
              margin-top: 20px;
            }

    }

    @media (min-width:1000px)and (max-width:1800px) {    
            .event-details {
              margin: 15px 0px 0px 15px;  
              }

          .event-name {
              color: #000;
              font-size: 20px;
              font-weight: 600;
              line-height: 1;
            }

            .event-date {
              color: #a7ada9;
              font-size: 15px;
              line-height: 1;
             }

            .event-location{
              margin-top: 10px;
              width: 100px;
              font-size: 20px;
            }

    }
      
    @media (max-width: 1000px) {
      .news-events-wrapper {
        
        max-width: 100%;
        padding: 50px 50px;
      }
    
      .news-events-content {
        align-self: center;
        max-width: 100%;
      }
      .news-events-grid {
        flex-direction:column;
        gap: 20px;
      }
    
      .news-events-title {
        max-width: 100%;
        font-size: 40px;
       
      }
    
      .all-events-button {
        margin-top: 40px;
      }
    
      .all-events-link {
        padding: 0 20px;
      }

      .event-card {
        width: 100%; /* Adjust width for smaller screens */
        max-width: 400px; /* Set max width for mobile */
        margin: 10px auto; /* Center the card */
       max-height: 350;
           height: 100%;
           font-weight: 400;   
      }
    
      .event-details {
        margin: 10px 0px 0px 10px;  
      }
    

             
      .event-location {
        white-space: initial;
        margin-top: 20px;
      }
      
    }


    /* career banner */


.home-career-container{
  font-family: Outfit, sans-serif;
}


    .hero-career-image {
      position: relative; /* For positioning of text and button */
      overflow: hidden; /* Hide overflow if any */
  }

  .hero-career-image img {
      width: 100%; /* Make the image responsive */
      height: auto; /* Maintain aspect ratio */
      display: block; /* Remove bottom space from image */
  }

  .hero-text-career {
      text-align: center;
      position: absolute;
      top: 20%; /* Position the text towards the top */
      left: 50%;
      transform: translate(-50%, -50%); /* Center the text */
      color: white;
      width: 80%; /* Limit width for better readability */
      max-width: 800px; /* Set a max width for the text */
  }

  .hero-text-career h1 {
      margin-bottom: 10px;
      font-size: 3.5vw; /* Responsive font size */
  }

  .hero-text-career p {
      font-size: 1.5vw; /* Responsive font size */
  }

  .button-group-career {
      position: absolute; /* Absolute position for button group */
      bottom: 12%; /* Position above the bottom */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%); /* Center button group */
      color:white;
      
  }

  .button-group-career a {
      text-decoration: none;
      color: inherit;
      border-radius: 40px;
      padding: 11px 16px;
      border: 2px solid #81b3e2;
      transition: background-color 0.6s ease;
  }

  .button-group-career :hover {
      background-color: #81b3e2;
      color: white;
  }

  @media (min-width:1800px) {
    .hero-text-career {
      max-width: 1100px;
    }
  }

  /* Responsive styles */
  @media (min-width:450px)and (max-width: 900px) {
      .hero-text-career h1 {
          font-size: 22px; /* Smaller font size on small screens */
      }

      .hero-text-career p {
          font-size: 14px; /* Smaller font size on small screens */
      }

      .button-group-career{
          padding: 6px 10px; /* Adjust button size */
      }
  }

  @media (max-width:600px) {

      .hero-text-career h1 {
          font-size: 20px; /* Smaller font size on small screens */
      }

      .hero-text-career p {
          display: none; /* Smaller font size on small screens */
      }

      
  }


  /* partner section */

  .partner-section {
    display: flex;
    align-items: center;
   
    overflow: hidden;
    font-family: Outfit,sans-serif;
    color: #000;
    font-weight: 400;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0 12.5vw;
}



.content-wrapper-partner {
    align-self: stretch;
    display: flex;
  
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
   
    margin: auto 0;
}

@media (max-width: 991px) {
    .content-wrapper-partner {
        max-width: 100%;
    }
}

.main-heading-partner {
    font-size: 3vw;
    font-weight: 600;
    line-height: 3vw;
}
.main-heading-partner{
    margin-block-end: 10px;
}

@media (max-width: 991px) {
    .main-heading-partner {
        /* max-width: 100%; */
        font-size: 40px;
        line-height: 49px;
    }
}

.sub-heading-partner {
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .sub-heading-partner {
        /* max-width: 100%; */
        font-size:23px;
        line-height: 25px;
    }
}

.cta-wrapper-partner {
    display: flex;
    margin-top: 25px;
    width: 11.5vw;

    flex-direction: column;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 20px;
    padding: 11px 16px;
    border: 2px solid #81B3E2;
    background: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .cta-wrapper-partner {
       width: 200px;
       font-size: 25px;
       padding: 11px 16px;
    }
}

.partner-image {
  
    object-fit: contain;
    object-position: center;

   width: 33vw;
    align-self: stretch;
    min-width: 240px;
    margin: auto 0;
}

@media (max-width: 991px) {
    .partner-image {
        width: 80%;
        align-items: center;
    }
}

/* footer */


.footer {
      background-color: #191e22;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

  max-width: 100%;
      
      margin: 0 auto -5px calc(50% - 50vw);
      padding: 46px 162px 64px 144px;
    }
    
    @media (max-width: 991px) {
      .footer {
        max-width: fit-content;
        padding: 30px 50px;
      }
    }
    
    .footer-content {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
    }
    
    @media (max-width: 991px) {
      .footer-content {
        max-width: 100%;
      }
    }
    
    .footer-links {
      display: flex;
      max-width: 100%;
      align-items: center;
      gap: 40px 98px;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: flex-start;
      font: 18px Outfit, sans-serif;
    }
    
    @media (max-width: 991px) {
      .footer-links {
        width:auto;
   
      }
    }
    
    @media (max-width: 640px) {
      .footer-links {
        padding-right: 172px;
      }
    }
    
    .nav-column {
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      justify-content: flex-start;
      flex-grow: 1;
      width: 57px;
    }
    
    @media (max-width: 991px) {
      .nav-column {
        white-space: initial;
      }
    }
    
    .nav-link {
      color: #fff;
      font-weight: 500;
      text-decoration: none;
      
    }
    
    .nav-link-secondary {
      margin-top: 23px;
      width: 100%;
      color: #989da2;
      font-weight: 300;
      text-decoration: none;
    }
    
    @media (max-width: 991px) {
      .nav-link-secondary {
        white-space: initial;
      }
    }
    
    .products-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      width: 166px;
    }
    
    .product-list {
      display: flex;
      margin-top: 23px;
      max-width: 100%;
      width: 180px;
      flex-direction: column;
      color: #989da2;
      font-weight: 300;
      justify-content: flex-start;
      list-style-type:none;
      padding-left: 0;
      position: relative;
    }


    
    .product-item {
      width: 100%;
      margin-top: 10px;
    }

    .product-item a{
      text-decoration: none;
      color: inherit;
    }

   

   
  
    
    @media (max-width: 991px) {
      .product-item {
        padding-right: 20px;
      }
    }
    
    .contact-column {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 1;
      width: 197px;
    }
    
    .contact-info {
      display: flex;
      margin-top: 23px;
      max-width: 100%;
      width: 211px;
      flex-direction: column;
      color: #989da2;
      font-weight: 300;
      justify-content: flex-start;
    }
    
    .contact-title {
      width: 100%;
      color: #fff;
      font-weight: 500;
    }
    
    .contact-detail {
      margin-top: 10px;
      width: 100%;
      
    }

    .contact-detail a{
      text-decoration: none;
      color: inherit;
    }

    
    .contact-email {
      margin-top: 10px;
      width: 100%;
      color: #3e8cd6;
      white-space: nowrap;
      text-decoration: none;
      
    }
    
    @media (max-width: 991px) {
      .contact-email {
        white-space: initial;
      }
    }
    
    .footer-bottom {
      display: flex;
      margin-top: 50px;
      width: 100%;
      align-items: flex-end;
      gap: 18px 892px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    @media (max-width: 991px) {
      .footer-bottom {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    
    .footer-logo {
   
      object-fit: contain;
      object-position: center;
      width: 10.2vw;
    }
    
    .social-icons {
      display: flex;
      align-items: flex-end;
      gap: 23px;
      justify-content: flex-start;
    }
    
    .social-icon {
    
      object-fit: contain;
      object-position: center;
      width: 2.5vw;
    }
    
    .footer-divider {
      min-width: 240px;
      width: 1051px;
      height: 0;
      flex-grow: 1;
      border: 1px solid #989da2;
    }
    
    .footer-copyright {
      display: flex;
      margin-top: 11px;
      width: 100%;
      align-items: center;
      gap: 40px 140px;
      color: #989da2;
      justify-content: flex-start;
      flex-wrap: wrap;
      font: 300 18px Outfit, sans-serif;

    }
    
    @media (max-width: 991px) {
      .footer-copyright {
        max-width: 100%;
      }

      .social-icon {
        width: 25px;
      }

      .footer-logo {
        width: 105px;
      }
    }
    
    .copyright-logo {
      aspect-ratio: 1;
      object-fit: contain;
      object-position: center;
      width: 35px;
      align-self: stretch;
      margin: auto 0;
    }
    
    .copyright-links {
      align-self: stretch;
      display: flex;
      min-width: 240px;
      align-items: flex-start;
      gap: 40px 81px;
      justify-content: flex-start;
      flex-wrap: wrap;
      flex-grow: 1;
      width: 857px;
      margin: auto 0;
     
    }

    .copyright-links a{
      text-decoration: none;
      color: inherit;
    }
    
    @media (max-width: 991px) {
      .copyright-links {
        max-width: 100%;
      }
    }


    /* about us fact */

    .about-us-fact { display: flex; flex-direction: column; padding: 4vw 16vw;}
    @media (max-width:1350px) {
      .about-us-fact {padding: 4vw 12vw;}
      
    }
    .about-description-fact { align-self: center; width: 100%; max-width: 895px; color: #000; text-align: center; font: 600 30px/35px Outfit, sans-serif; }
    .stats-container { margin-top: 60px; width: 100%; }
    .stats-grid { gap: 20px; display: flex; }
    .stat-card { border-radius: 40px; background-color: #f0f0f0; display: flex; flex-grow: 1; flex-direction: column; font-family: Outfit, sans-serif; justify-content: start; width: 100%; padding: 28px 31px; }
    .stat-card p {
      margin-block-start: 5px;
      margin-block-end: 5px;
    }
    .stat-icon { aspect-ratio: 1; object-fit: contain; object-position: center; width: 40px; }
    .stat-number { color: #000; font-size: 45px; font-weight: 600; line-height: 1; margin-top: 10px; }
    .stat-description { color: #515253; font-size: 20px; font-weight: 500; line-height: 25px; margin-top: 10px; }
    
    @media (max-width: 991px) {
      .about-description-fact { max-width: 100%; }
      .stats-container { max-width: 100%; margin-top: 40px; }
      .stats-grid { flex-direction: column; align-items: stretch; gap: 0; }
      .stat-card { margin-top: 15px; padding: 28px 20px; }
      .stat-number { font-size: 50px; }
      .stat-icon {width:60px}
      .stat-description {font-size: 25px;}
    }


    /* about us trust part */
    .trusted-partner {
      display: flex;
      flex-direction: column;
      font-family: Outfit, sans-serif;
      color: #000;
      padding: 50px 50px;
    }
    
    .content-wrapper-trustpart {
      display: flex;
      align-items: center;
      gap: 43px;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .text-content-truspart {
      align-self: stretch;
      display: flex;
      min-width: 240px;
      flex-direction: column;
      justify-content: center;
      width: 650px;
      margin: auto 0;
    }
    
    .main-heading-trustpart {
      font-size: 45px;
      font-weight: 700;
      line-height: 50px;
    }
    
    .description-trustpart {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 26px;
    }
    
    .trust-partner-image {
      aspect-ratio: 0.91;
      object-fit: contain;
      object-position: center;
      width: 497px;
      border-radius: 20px;
      align-self: stretch;
      min-width: 240px;
      margin: auto 0;
    }
    
    @media (max-width: 991px) {
      .text-content-truspart{
        width: 700px;
      }

      .main-heading-trustpart {
        font-size: 50px;
        line-height: 55px;
      }

      .description-trustpart {
        font-size: 30px;
        line-height: 35px;
      }
    
      .content-wrapper-trustpart,
      .text-content-truspart,
      .main-heading-trustpart,
      .description-trustpart,
      .trust-partner-image {
        max-width: 100%;
      }
     
   
    }

    /* map */

    .news-events-map {
      display: flex;
      flex-direction: column;
      color: #000;
      font: 600 45px/1 Outfit, sans-serif;
    }
    
    .locations-container {
      background-color: #f0f0f0;
      display: flex;

      flex-direction: column;
      align-items: center;
      padding: 54px 80px 159px;
    }
    
    .content-wrapper-map {
      display: flex;
      margin-bottom: -32px;
      
      max-width: 90%;
      flex-direction: column;
    }
    
    .locations-title {
      margin: 0;
    }
    
    .locations-image {
      aspect-ratio: 2.73;
      object-fit: contain;
      object-position: center;
      width: 100%;
      margin-top: 42px;
    }
    
    @media (max-width: 991px) {
      .news-events-map {
        font-size: 40px;
      }
    
      .locations-container {
        max-width: 100%;
        font-size: 40px;
        padding: 0 20px 100px;
      }
    
      .content-wrapper-map {
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 40px;
      }
    
      .locations-title {
        max-width: 100%;
        font-size: 40px;
      }
    
      .locations-image {
        max-width: 100%;
        margin-top: 40px;
      }
    }



    /* ourpartner */

    .partners-section { display: flex; flex-direction: column; }
    .partners-container { background-color: #d6d4d4; display: flex; -ms-transform-origin-x: 100%; flex-direction: column; align-items: center; padding: 38px 80px 69px; }
    .partners-content { display: flex; max-width: 100%; flex-direction: column; }
    .partners-header { align-self: center; display: flex; width: 786px; max-width: 100%; flex-direction: column; font-family: Outfit, sans-serif; color: #000; text-align: center; justify-content: center; }
    .partners-title { font-size: 45px; font-weight: 700; line-height: 1; }
    .partners-description { font-size: 22px; font-weight: 400; line-height: 30px; margin-top: 26px; }
    .partners-logo-grid { background-color: #f0f0f0; display: flex; margin-top: 26px; max-width: 100%; flex-direction: column; padding: 42px 80px; }
    .partners-logo-row { display: flex; align-items: center; gap: 40px 47px; flex-wrap: wrap; }
    .partners-logo-row:not(:first-child) { margin-top: 26px; }
    .partners-logo-img { object-fit: contain; object-position: center; max-width: 100%; }
    .partners-logo-img-1 { width: 170px; aspect-ratio: 6.8; }
    .partners-logo-img-2 { width: 149px; aspect-ratio: 2.92; }
    .partners-logo-img-3 { width: 123px; aspect-ratio: 4.1; }
    .partners-logo-img-4 { width: 77px; aspect-ratio: 1; }
    .partners-logo-img-5 { width: 106px; aspect-ratio: 1.49; }
    .partners-logo-img-6 { width: 189px; aspect-ratio: 4.2; }
    .partners-logo-img-7 { width: 70px; aspect-ratio: 2; }
    .partners-logo-img-8 { width: 165px; aspect-ratio: 2.46; }
    .partners-logo-img-9 { width: 152px; aspect-ratio: 2.42; }
    .partners-logo-img-10 { width: 103px; aspect-ratio: 2.02; }
    .partners-logo-img-11 { width: 162px; aspect-ratio: 4.39; }
    .partners-logo-img-12 { width: 190px; aspect-ratio: 3.73; }
    .partners-logo-img-13 { width: 149px; aspect-ratio: 4.26; }
    .partners-logo-img-14 { width: 208px; aspect-ratio: 7.41; }
    .partners-logo-img-15 { width: 128px; aspect-ratio: 3.56; }
    .partners-logo-img-16 { width: 148px; aspect-ratio: 4.48; }
    .partners-logo-img-17 { width: 70px; aspect-ratio: 0.79; }
    .partners-logo-img-18 { width: 108px; aspect-ratio: 2.63; }
    .partners-logo-img-19 { width: 111px; aspect-ratio: 2.27; }

       
    @media (max-width: 991px) {
      .partners-container { max-width: 100%; padding: 30px 30px; }
      .partners-content { max-width: 100%; }
      .partners-title { max-width: 100%; font-size: 40px; }
      .partners-description { max-width: 100%; }
      .partners-logo-grid { padding: 0 20px; }
    }



    /* project tracker */

    .recent-projects {
      border-radius: 0;
      display: flex;
      flex-direction: column;
    }
    
    .projects-container {
      background-color: #fff;
      display: flex;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 66px 80px;
    }
    
    @media (max-width: 991px) {
      .projects-container {
        max-width: 100%;
        padding: 0 20px;
      }
    }
    
    .content-wrapper-proj {
      display: flex;
      width: 100%;
      max-width: 90%;
      flex-direction: column;
    }
    
    @media (max-width: 991px) {
      .content-wrapper-proj {
        max-width: 100%;
      }
    }
    
    .header-content-proj {
      align-self: center;
      display: flex;
      width: 786px;
      max-width: 100%;
      flex-direction: column;
      font-family: Outfit, sans-serif;
      color: #000;
      text-align: center;
      justify-content: center;
    }
    
    .section-title-proj {
      font-size: 45px;
      font-weight: 700;
      line-height: 1;
    }
    
    @media (max-width: 991px) {
      .section-title-proj {
        max-width: 100%;
        font-size: 40px;
      }
    }
    
    .section-description-proj {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 26px;
    }
    
    @media (max-width: 991px) {
      .section-description-proj {
        max-width: 100%;
      }
    }
    
    .projects-grid {
      margin-top: 57px;
    }
    
    @media (max-width: 991px) {
      .projects-grid {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    
    .projects-row {
      gap: 20px;
      display: flex;
    }
    
    @media (max-width: 991px) {
      .projects-row {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
      }
    }
    
    .project-column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 33%;
      margin-left: 0;
    }
    
    @media (max-width: 991px) {
      .project-column {
        width: 70%;
        align-self: center;
      }
    }
    
    .project-card {
      border-radius: 20px;
      background-color: #bed4ec;
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      overflow: hidden;
      font-family: Outfit, sans-serif;
      max-width: 100%;
    }
    
    @media (max-width: 991px) {
      .project-card {
        margin-top: 34px;
      }
    }
    
    .card-content-proj {
      border-radius: 20px;
      background-color: #f0f0f0;
      display: flex;
      padding-bottom: 19px;
      flex-direction: column;
      height: 100%;
    }
    
    .project-image {
      aspect-ratio: 1.85;
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
    
    .project-details {
      align-self: center;
      display: flex;
      margin-top: 14px;
     
      max-width: 100%;
      padding: 15px 15px;
      flex-direction: column;
      justify-content: start;
    }
    
    .project-header {
      display: flex;
      max-width: 100%;
      flex-direction: column;
      justify-content: start;
    }
    
    .project-status {
      color: #989da2;
      font-size: 18px;
      font-weight: 500;
      line-height: 34px;
    }
    
    .project-name {
      color: #000;
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;
    }
    
    .project-info {
      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 5px;
    }
    


    @media (max-width:991px) {
  
    .project-status {
      font-size: 26px;

    }
    
    .project-name {
     
      font-size: 30px;
      line-height: 32px;
    }
    
    .project-info {
    
      font-size: 27px;
 
      line-height: 30px;
     
    }
    }

    /* bod section */

    .board-section {
      display: flex;
      flex-direction: column;
      font-family: Outfit, sans-serif;
      color: #000;
      width: 100%;
      background-color: #D6D4D4;
      min-height: 100vh;
  }

  .board-container {
      display: flex;
      width: 100vw;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 33px 20px 108px; /* Adjusted padding for better consistency */
      box-sizing: border-box;
  }

  @media (max-width: 1024px) {
      .board-container {
          padding: 20px; /* Consistent padding for tablets */
      }
      .board-content {
          max-width: 960px; /* Maksimalkan lebar konten */
      }
  }

  /* Atur tampilan di layar tablet dan desktop kecil */
  @media (min-width: 768px) and (max-width: 1024px) {
      .director-container:nth-child(odd) {
          flex-direction: column;
      }
      
      .director-container:nth-child(even) {
          flex-direction: column-reverse;
      }
  }

  /* Atur tampilan di layar 768px dan lebih kecil */
  @media (max-width: 767px) {
      .director-container {
          flex-direction: column; /* Stack image on top of text */
          align-items: center; /* Center align items */
      }

      .director-image {
          margin-bottom: 20px; /* Space between image and text */
          width: 100%;
          max-width: 300px;
          height: auto;
          aspect-ratio: 4 / 5;
      }
  }

  /* Atur tampilan di layar 991px */
  @media (max-width: 991px) {
      .board-container {
          padding: 0 20px 100px;
      }
  }

  .board-content {
      display: flex;
      margin-bottom: -22px;
      width: 100%;
      max-width: 1027px;
      flex-direction: column;
      box-sizing: border-box;
  }

  @media (min-width:1600px) {
      .board-content {
      max-width: 60vw;
      }
  }

  .board-header {
      align-self: center;
      display: flex;
      width: 100%;
      max-width: 786px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      box-sizing: border-box;
  }
  
  .board-title {
      font-size: 45px;
      font-weight: 700;
      line-height: 1;
      margin-block-start: 20px;
      margin-block-end: 10px;
  }
  
  @media (max-width: 991px) {
      .board-title {
          font-size: 35px;
      }
  }
  
  .board-description {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 26px;
  }
  
  @media (max-width: 991px) {
      .board-description {
          font-size: 18px;
          line-height: 1.5;
      }
  }
  
  .director-container {
      display: flex;
      margin-top: 96px;
      align-items: center;
      gap: 40px;
      justify-content: center; /* Centered for better alignment */
      flex-wrap: wrap;
      width: 100%;
      box-sizing: border-box;
  }
  
  @media (max-width: 991px) {
      .director-container {
          flex-direction: column;
          margin-top: 40px;
          gap: 20px;
      }
  }
  
  .director-info {
      align-self: stretch;
      display: flex;
      min-width: 240 px;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 525px;
      box-sizing: border-box;
     
  }
  
  .director-role {
      color: #989DA2;
      font-size: 28px;
      font-weight: 500;
      line-height: 1;
      text-align: center;
      align-self: start;
  }
  
  .director-name {
      font-size: 45px;
      font-weight: 700;
      line-height: 1;
      margin-top: 22px;
  }
  
  @media (max-width: 991px) {
      .director-name {
          font-size: 30px;
      }
  }
  
  .director-bio {
      font-size: 22px;
      font-weight: 400;
      line-height: 30px;
      margin-top: 22px;
  }
  
  @media (max-width: 991px) {
      .director-bio {
          font-size: 18px;
          line-height: 1.5;
      }
  }
  
  .director-image {
      border-radius: 20px;
      background-color: #98CDFF;
      width: 408px;
      height: 507px;
      margin: auto;
  }


  
  @media (max-width: 991px) {
      .director-container:nth-child(odd) {
          flex-direction: column;
      }
      
      .director-container:nth-child(even) {
          flex-direction: column-reverse;
      }
  }

  /* Atur urutan teks dan gambar secara bergantian di mode mobile */
  @media (max-width: 767px) {
      .director-container:nth-child(odd) {
          flex-direction: column;
      }
      
      .director-container:nth-child(even) {
          flex-direction: column-reverse;
      }
  }
  
  @media (min-width:1600px) {
      .board-header{
          max-width: 55vw;
      }
      .board-description{
          font-size: 1.5vw;
      }
      .director-info{
          max-width: 50%;
      }
      .board-title{
          font-size: 3vw;
      }
      .board-content {
      max-width: 70vw;
      }
  }